<!DOCTYPE html>
<html>
	<head>
		<title>Backbone, why you so awesome?</title>
		<script type="text/javascript" src="js/vendor/modernizr.min.js"></script>

		<script id="video-template" type="text/html">
	        <li class="message" data-id="<%= id %>">
	            <a href="#" title="<%= title %>"><img src="<%= thumbnail_medium %>" alt="<%= title %>" /></a>
	        </li>
	    </script>

	    <script id="message-template" type="text/html">
	        <h1><%= title %></h1>
	        <iframe src="http://player.vimeo.com/video/<%= id %>?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0"></iframe>
	        <p><%= description %></p>
	        <span><a href="http://vimeo.com/<%= id %>"><%= title %></a> by <%= user_name %>.</span>
	        <a href="#home" title="Back" class="back">Back</a>
	    </script>
	</head>
	<body>
		<div id="wrapper">
			<a href="#latest" title="Latest">Latest</a>
			<div id="main"></div>
		</div>
		<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
		<script type="text/javascript" src="js/vendor/underscore.min.js"></script>
		<script type="text/javascript" src="js/vendor/backbone.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>